html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: -0.04em;
  font-size: 4rem;
}

nav {
  font-size: 20px;
  padding: 10px;
  height: 60px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #5d737e;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.748);
  z-index: 1000;
}

nav .nav-left {
  padding-left: 30px;
}

nav .nav-left #github {
  font-size: 20px;
  padding-left: 10px;
}

nav .nav-left a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f3f3f3;
  text-decoration: none;
}

nav .nav-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav .nav-right a {
  padding: 0 30px;
  color: #f3f3f3;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

nav img {
  width: 50px;
  height: auto;
  border-radius: 100%;
}

div.hero-container {
  display: flex;
  flex-wrap: wrap;
  height: 800px;
}

div.hero-left {
  flex: 3;
  background-color: #191919;
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.hero-left .hero-info {
  width: 80%;
  margin: 0 60px;
}

div.hero-right {
  flex: 2;
  background-color: #191919;
  background-image: url(Bilder/Selfie.jpg);
  background-size: cover;
  background-position: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #0d0d0d;
  margin-top: 60px;
  padding: 24px 20px;
  width: 180px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out,
    color 0.1s ease-in-out, border 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.button:hover {
  background-color: #cbcbcb;
  color: #000000;
  transform: scale(1.05);
}

.button .button-icon {
  rotate: -90deg;
  width: 24px;
  height: auto;
  margin-left: 0.5em;
  transition: 0.1s;
}

.button:hover .button-icon {
  rotate: 1deg;
  width: 24px;
  height: auto;
  transition: 0.1s;
}

.about-me {
  display: flex;
  flex-wrap: wrap;
  height: 80rem;
  animation-duration: 3s;
}

p {
  font-size: 1.5rem;
  opacity: 0.8;
}
