* {
    margin: 0;
    padding: 0;
}

body {
    background: #E1EACD;

}

nav {
    background: red;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #FFA69E;
}

nav .logo {
    margin-right: auto;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    text-align: center;
}

.info {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 150px;

}

.info h1 {
    color: #01352C;
    font-family: Lalezar;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}